<!DOCTYPE html>
<html lang="hu">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Shop</title>
    <link rel="stylesheet" href="public/styles.css">
    </head>
<body>
    <header>
        <h1>Car Shop server elindult</h1>
        <main>
            végpontok: 
            <p>
                <a href="http://localhost:5000/api/cars">/cars</a> - autók listája<br>
            </p>
        </main>

        </header>
    </body>
</html>